{% extends "layout.html" %}
{% block content %}
<h1>掲示板</h1>

<form action = "{{ url_for('add_content') }}" method = "POST" >
  <label for = "name">名前</label>
  <input type = "text" name = "name">
  <p></p>
  <label for = "text">本文</label>
  <input type = "text" name = "text">
  <button type = "submit">送信する</button>
</form>

<h2>投稿一覧</h2>

<table>
  <tr><th>名前</th><th>本文</th></tr>
  {% for content in contents %}
  <tr><th>{{ content.name }}</th><th>{{ content.text }}</th></tr>
  {% else %}
  <tr><th>投稿はありません</th></tr>
  {% endfor %}
</table>
{% endblock %}
